.header{
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo_place_header{
  width: 154px;
  height: 31px;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}

.header__title{
  display: flex;
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  z-index: 3;
}

.header__subtitle{
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 3;
  }

.header__link {
  color: #2F80ED;
  text-decoration: none;
  display: flex;
}

.header__main-illustration{
  width: 756px;
  height: 608px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.header__square-pic{
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color:#2F80ED;
  position: absolute;
  transform: rotate(15deg);
  animation: rotation 20s infinite linear;
}
