@keyframes rotation{
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page{
min-width: 1100px;
max-width: 1600px;
margin: 0 auto;
font-family: 'Helvetica Neue', Arial, sans-serif;
}

.description {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  width: 175px;
  color: #2F80ED;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph{
  margin:0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  justify-content: space-between;
}

.cards__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.cards__image{
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin: 60px 40px 43px 40px;
}

.cards__title{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.cards__description{
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 16px 0 0 0;
}

.video{
  background-image: linear-gradient(white 70%, #f2f2f2 30%);
  padding: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video__iframes{
  display: flex;
  gap: 20px;
  margin: 50px;
}

.video__iframe{
  height: 316px;
  width: 515px;
}

.oakley{
  background-color: #f2f2f2;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feynman{
  background-color: #f2f2f2;
  height: 790px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  border: 0;
}

.feynman__title{
  width: 775px;
  margin: 0 0 70px 0;
  text-align: center;
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 3;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  margin: 0px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.feynman__link{
  color: #2F80ED;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__image{
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}

.digits{
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-title{
  text-align: center;
  margin: 0 0 20px 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}


.section-subtitle{
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.table{
  width: 1100px;
  margin: 60px 0 0 0;
  flex-wrap: wrap;
  display: flex;
  row-gap: 60px;
  justify-content: space-between;
  padding: 0;
}

.table__cell{
  list-style: none;
  width: 250px;
}

.table__heading{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  }

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}


.khan{
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 105px;
}

.khan__container{
  width: 80%;
}

.khan__author{
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title{
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote{
  width: 790px;
  margin: 50px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author{
  margin: 36px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline{
  margin: 10px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container{
  display: flex;
  margin: 68px 0 0 0;
  gap:48px;
}

.khan__book-pic{
  width: 620px;
  height: 608px;
}

.khan__buy-link{
  justify-content: flex-start;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
}

.kaufman{
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 90px 0 90px 0;
}

.kaufan-title_theme_dark{
  z-index: 1;
  color: #f2f2f2;
}

.kaufman-subtitle_theme_dark{
  color: #f2f2f2;
}

.kaufman__triangle{
  width: 660px;
  height: 636px;
  position: absolute;
  right: -120px;
  top: 5px;
  z-index: 0;
  animation: rotation 20s infinite linear;
}

.resources{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto 217px auto;
}

.resources__logo-zone{
  display: flex;
  width: 1100px;
  margin-top: 80px;
}

.resources__logo{
  width: 270px;
  height: 38px;
}
