.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items:center;
  position: relative;
}

.logo_place_header{
  width: 154px;
  height: 31px;
  position: absolute;
  margin-top: 30px;
  margin-left:64px;
  z-index: 4;
  left: 0;
  top: 0;
}

.header__title{
  display: flex;
  margin-left:64px;
  margin-bottom: 30px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  align-items: center;
  font-weight: bold;
  position: absolute;
  z-index: 3;
}

.header__subtitle{
  width: 388px;
  margin-left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  }

.header__link {
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration{
  width: 756px;
  height: 608px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.header__square-pic{
  margin-top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color:#2F80ED;
  position: absolute;
}

.description {
  margin: 100px auto;
  width: 80%;
  position: relative;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2F80ED;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784PX;
}

.two-columns__paragraph{
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  background-color: #f2f2f2;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.digits__section-title{
  display: flex;
  text-align: center;
  margin: auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  }

  .digits__section-subtitle{
    display: flex;
    width: 60%;
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: auto;
    justify-content: center;
  }

  .digits__table{
    width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }

  .digits__section-title{
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }

  .table__cell {
    list-style: none;
    width: 250px;
    margin-top: 60px;
}

  .table__heading{
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .table__text{
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }

  .feynman{
    height: 790px;
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 0;
  }

  .feynman__title{
    width: 775px;
    margin: 0px auto 70px;
    text-align: center;
    position: relative;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 3;
  }

  .feynman__subtitle{
    line-height: 51px;
    font-size: 36px;
    margin-top: 0px;
    font-weight: normal;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .feynman__link{
    color: #2F80ED;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
  }

  .feynman__image{
    position: absolute;
    width: 867px;
    height: 637px;
    left: 0;
    bottom: 0;
  }

  .kaufman{
    background-color: #1f1f1f;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
  }

  .kaufan-title_theme_dark{
    margin-top: 90px;
    margin-bottom: 0;
    width: 60%;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    z-index: 4;
  }

  .kaufman-subtitle_theme_dark{
    text-align: center;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    z-index: 3;
  }

  .table_theme_dark{
    width: 1100px;
    margin: 0 auto 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .table__cell_theme_dark{
    list-style: none;
    width: 200px;
    margin-top: 80px;
    z-index: 2;
  }

  .table__heading_theme_dark{
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .table__text_theme_dark{
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }

  .kaufman-image{
    width: 660px;
    height: 636px;
    position: absolute;
    right: -124px;
    z-index: 1;
  }

  .footer{
    background-color: #1f1f1f;
    color: #f2f2f2;
    display: flex;
    position: relative;
    display: flex;
  }

  .footer__column{
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
    flex-basis: 711px;
    width: 90%;
    margin: 64px;
  }

  .footer__column_content_copyright{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .logo_place_footer{
    width: 183px;
    height: 35px;
  }

  .copyrights{
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }

  .footer__column_content_about{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding-left: 25%;
  }

  .footer_column-heading{
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
  }

  .footer_list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 20px 0 auto;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }

  .footer__column_content_social{
    display: flex;
    align-items: flex-end;
    justify-content:flex-start;
    text-align: start;
    flex-direction: column;
    position: relative;
    padding-right: 2px;
  }

  .footer__social-icon{
    list-style-type: none;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-right: 10px;
  }

  .footer__column-link{
    text-decoration: none;
    color: #2F80ED;
  }
